.reference
  :markdown
    # Ember overview
    ## Dev environment
    ### <a name='dependencies'></a>[Dependencies](#dependencies)
    ... are managed with two tools - [Npm](https://www.npmjs.org/) and [Bower](http://bower.io/).
    Npm is mostly used for dev tools, bower for front-end packages that our app needs.
    From [this SO answer](http://stackoverflow.com/a/18652918/1592915) - *The biggest
    difference is that npm does nested dependency tree, which doesn't work that well
    on the front-end, while Bower requires a flat dependency tree.*

    <img class='right' src='/assets/trollicons/fae.png'>

    Much like Bundler's Gemfile these tools also have files they reference - `package.json`
    and `bower.json` (for npm and bower respectively). As they are simple json files - be
    mindful of commas if adding dependencies.


    ``` javascript
    // /package.json

    ...
      "devDependencies": {
        "express": "~3.4.2",
        "lockfile": "~>0.3.0",
        "bower": "~1.3.2",
        "grunt": "~0.4.2",
        "grunt-fancy-sprites": "~2.0.0",
    ...
    ```

    Bower is itself an npm module, so when setting up your dev environment you would run `npm install`
    first and `bower install` second. These commands will downloaded dependencies listed to
     `node_modules` and `vendor` directories (which are not added to source control).

    As a task runner we use [Grunt](http://gruntjs.com/). It is also installed by npm, so `grunt`
    command should already be available to you. Tasks are described in `Gruntfile.js`.
    Gruntfile has tasks that we intend to run ourselves - e.g. `grunt server`, but can reference
    other tasks defined in it - such as `build:debug` -

    ``` javascript
    // /Gruntfile.js

    // task that is intended to be run by us
      grunt.registerTask('server', "Run your server in development mode, auto-rebuilding when files change.", function(proxyMethod) {
        ...
        grunt.task.run(['clean:debug',
                        'build:debug',
                        expressServerTask,
                        'watch'
                        ]);
      });
    ```

    and also functions that are available courtesy of some npm module we installed, such as
    [fancySprites](https://github.com/MajorBreakfast/grunt-fancy-sprites):

    ``` javascript
    // task that is run as part of another task
      grunt.registerTask('build:debug', filterAvailable([
                         'jshint:tooling',
                         'createResultDirectory', // Create directoy beforehand, fixes race condition
                         'fancySprites:create',
                         'concurrent:buildDebug', // Executed in parallel, see config below
                         ]));
    ```

    Many npm packages have associated grunt tasks. Example - css [autoprefixer](https://github.com/nDmitry/grunt-autoprefixer)
    (btw we should add that).

    ## <a name='code_org'></a>[Code organization](#code_org)

    <img class='right' src='/assets/trollicons/win.png'>

    ### ES6 Syntax: The future is NOW!

    Courtesy of [ES6 Module Transpiler](https://github.com/square/es6-module-transpiler#supported-es6-module-syntax) that Ember uses we get to write code from the future. At least read **ES6 Module Syntax**.


    ### <a name='router'></a>[Router.js: URL resolution](#router)
    In Ember, url structure is defined in `app/router.js`.
    Individual routes are defined so:

    ``` javascript
    this.route('landing', { path: '/landing' });
    ```
    <img class='left' src='/assets/trollicons/pr.png'>

    **If `path` is the same as your route name (as it is indeed above), it can be omitted.**

    Namespacing in Ember is done by defining "resources". These are just routes that have
    child routes. Unlike rails `resource` in `routes.rb` - you don't automatically get a
    bunch of routes - only `ResourceNameRoute` and `ResourceNameIndexRoute` routes are created
    when defining a resource by itself, everything else you need to define explicitly.
    The following example would generate `LocationsRoute`, `LocationsIndexRoute` - and `LocationsNewRoute`:

    ``` javascript
    this.resource('locations', function(){  // { path: 'locations' } omitted
      this.route('new');                    // { path: 'locations/new' } omitted
    });
    ```

    <img src='/assets/trollicons/surprised3.png'>
    Unlike rails - you don't get to define a "root" route - it is always `application.index`

    ### <a name='routes'></a>[Routes: App state](#routes)

    In Ember, routes are responsible for setting up the app state (e.g. fetching the necessary data and rendering templates - much like Rails controller).

    Unlike Rails controllers - there is a route hierarchy (note: it's not like class hierarchy though, as there is no inheritance).

    <img class='right' src='/assets/trollicons/dazed.png'>

    In Ember, all named routes are descendants of `ApplicationRoute`. You can see a list of all routes and the hierarchy in Chrome web tools ember extension (see [debugging](#emb_ext) section for a screenshot).

    When you go to a url, `ApplicationRoute` gets activated first and then all route classes
    per hierarchy defined in `app/router.js`. Somewhat unintuitively, route definitions are
    looked up in directory structure by name - everything in `routes/` directory is descendent
    of ApplicationRoute - and what's defined in a resource in `router.js` is in a directory
    of the same name.

    So, a `router.js` file like this:

    ``` javascript
    var Router = Ember.Router.extend(); // ensure we don't share routes between all Router instances

    Router.map(function() {
      this.resource('locations', function(){  // { path: 'locations' } omitted
        this.route('new');                    // { path: 'locations/new' } omitted
      });

      this.resource('location', { path: '/location/:location_id' });

    });

    export default Router;
    ```

    would generate the following routes:

    <img class='right' src='/assets/trollicons/wtf.png'>

    | line | Name of the Route      | routeName         | defined in
    | ---- | ---------------------- | ----------------- | -----------------------------
    | 4    | `LocationsRoute`       | `locations`       | `app/routes/locations.js`
    | 4    | `LocationsIndexRoute`  | `locations.index` | `app/routes/locations/index.js`
    | 5    | `LocationsNewRoute`    | `locations.new`   | `app/routes/locations/new.js`
    | 8    | `LocationRoute`        | `location`        | `app/routes/location.js`
    | 8    | `LocationIndexRoute`   | `location.index`  | `app/routes/location/index.js`

    Looking at it the code from the file system - looks like files about the same resource
    are scattered all over - `location.js` and `locations.js` directly in `app/routes/`, then
    two folders for plural and singular form... However, looking from App's perspective - it does
    make sense (sort of). Just a bit confusing for us hoomans at first. Which begs the question -
    are we organizing code for the app or for ourselves? In any case - this is how Ember does it.

    #### Hooks and Properties:

    - As per [docs](http://emberjs.com/api/classes/Ember.Route.html), there are a number of
    hooks that get triggered at different times, and a number of methods available to use.
    - Data-related hooks - `beforeModel`, `model` and `afterModel` - will wait for promises to fulfill before the page loads.
    - `actions` property on the route is a hash with functions that handle user interaction that
    make changes to app data. Example:

    ``` javascript
    // /app/routes/users/new.js
      ...
      actions {
        save: function () {
          // `this` refers to the route.
          return this.currentModel.save();
        }
      }
      ...
    ```

    *Note: reacting to user interactions that do not need to be persisted should be defined in [controllers](#controllers).*

    - route has access its' ancestors' models with `modelFor('name_of_parent_route')` hook (see [docs](http://emberjs.com/api/classes/Ember.Route.html#method_modelFor))

    <img class='left' src='/assets/trollicons/pr.png'>

    #### Notable conventional defaults:

    (1) assumed `model` hook:

    ``` javascript
    // /app/routes/user/index.js
    ...
      model: function (params) {
        return this.store.find('user', params.user_id)
      }
    ...
    ```

    (2) assumed `renderTemplate` hook:

    ``` javascript
    // /app/routes/user/index.js
    ...
      renderTemplate: function () {
        this.render('user/index')
      }
    ...
    ```

    (3) assumed `setupController` action: It runs `model` function on the route if applicable and
    proxies route's model's properties to the controller (more on that in [controllers](#controllers) section).

    ``` javascript
    // /app/routes/user/index.js
    ...
      setupController: function(controller, model) {
        controller.set('model', model);
      }
    ...
    ```

    ### <a name='models'></a>[Models](#models): persistence

    <img class='right' src='/assets/trollicons/ok.png'>

    Mostly mirror what's on the server. The relationships are also defined, and if `{async: true}`
    is added - Ember will only fetch the id's of related resource (otherwise fetch all records).

    ``` javascript
    // app/models/base.js
    export default DS.Model.extend({
      name: DS.attr(),
      kind: DS.attr(),
      us: belongsTo('us'), // not specifying `async` as below forces Ember to fetch `us` right away. ALL YOUR BASE ARE BELONG TO US
      battleships: hasMany('battleships', {async: true}),
    });
    ```

    ### Controllers, Views and Templates: Presentation
    #### <a name='controllers'></a>[Controllers](#controllers)
    Controllers in Ember only control the presentation - everything template needs to know to
    render correctly.

    To avoid touching the DOM explicitly, what is on your screen is mostly manipulated by
    watching property values on controller. For example, with a controller like this:

    ``` javascript
    // app/controllers/users/edit.js
    export default Ember.ObjectController.extend({
      isEditingUserName: false;

      actions: {
        showEditUsernameForm: function () {
          this.toggleProperty('isEditingUserName');
        },
        save: function () {
          this.toggleProperty('isEditingPostalCode');
          // bubble action to route
          return  true;
        }
      }
    });
    ```

    we would need to limit the edit form in the template with a condition for `ifEditingUserName`.
    "Edit" button could call `showEditUserName` action, and template would redraw accordingly, e.g.

    ``` clojure
    {{! app/templates/users/edit.hbs }}
    ...
    <button {{action 'showEditUsernameForm'}}>Edit</button>
    ...
    {{#if showEditUsernameForm}}
      <form to edit username />
    {{/if}}
    ...
    ```
    *todo: update syntax highlighting to hbs once pygments.rb supports it *

    **Bubbling: actions from a Controller can be bubbled up to Route if you `return true` in the end
    of the action.** See example in the `save` action above.

    <img class='left' src='/assets/trollicons/heh.png'>

    *For starters you can put all actions in the route, and then
    move what's only relevant to presentation into controller later (or even move parts of the
    functionality - and let the same action be handled by controller first, and then allowed
    to bubble up to be handled by the same-named action in.*


    **Controllers can be standalone** to provide functionality for some specific element, e.g.
    generate sprites for avatars given this custom controller:

    ``` javascript
    // app/controllers/foobar/avatar.js
    export default Ember.ObjectController.extend({
      avatarClass: function () {
        return "sprite-" + this.get('avatar.name').dasherize();
      }.property('avatar.name'),
    });
    ```
    we can make use of it like this in a template:

    ``` clojure
    {{! app/templates/users/index.hbs }}
    <ul>
    {{#each users itemController='foobar/avatar'}}
      <li class='{{avatarClass}}'>{{name}}</li>
    {{/each}}
    ```

    #### <a name='views'></a>[Views](#views)
    Views in Ember are mostly used to handle user events. Each view is represented by a single
    DOM element on page - div by default, but you can also change the tag, add classes and more
    (see [guide](http://emberjs.com/guides/views/customizing-a-views-element/) for an overview).

    They also have hooks for handling user events - such as `click` or `mouseEnter` - and also
    for handling app state changes - such as `didInsertElement` or `parentViewDidChange` - see
    the [docs](http://emberjs.com/api/classes/Ember.View.html#toc_responding-to-browser-events)
    for full details.

    #### <a name='templates'>[Templates](#templates)

    Ember uses [handlebars](handlebarsjs.com) as it's default templating language. Code is
    embedded with double curlies - `<html> {{ codez }} <moar html>`. In the previous section
    there were gists with syntax examples.

    **Template has access to all properties of it's respective Controller.**

    <img class='right' src='/assets/trollicons/yay.png'>

    Courtesy of Route's `setupController` automagic hook, it also has access to the respective
    Route's model's properties. *Note: `setupController` does __not__ make `model` available
    on the controller - just the properties. So, you would reference properties directly -
    i.e. `{{name}}` instead of `{{model.name}}`*

    Templates are rendered in the order of route hierarchy, and each next template is rendered
    in it's parent's `{{outlet}}` (think of Rails `yield`). You can also have named outlets - e.g.

    ``` clojure
    {{! app/templates/user.hbs }}
    <div>some code relevant for all user pages - sort of like a layout in rails</div>
    {{outlet named-special-outlet}} <--- this is where we can render something extra from route's renderTemplate hook
    <div> some more relevant content </div>
    {{outlet}}  <--- this is where the default views will render
    ```

    Now, given we override `renderTemplate` hook in route like this (note you need to preserve
    default behavior too):

    ``` javascript
    // /app/routes/user.js
      renderTemplate: function () {
        // preserving default behaviour
        this.render('user');

        // render sidebar
        this.render('super-special-partial', {
          outlet: 'named-special-outlet'
        });
      }
      ...
    ```

    partial with some awesome content from file `app/templates/super-special-partial.hbs` will be
    rendered in that outlet.

    <img src='/assets/trollicons/freddie.png'>

    #### App setup.

    if you need to do some setup - initializer is a place to do it, in app/app.js

    ## Communication loop

    ### <a name='moving_parts'></a>[Moving parts of an Ember app](#moving_parts)

    <img class='right' src='/assets/trollicons/wah.png'>

    - App - the actual app that deals with presentation/interacting with user, and has a few parts itself
    - Store - deals with handling data for the App
    - Adapter - deals with fetching data for the Store
    - Serializer - deals with converting data to a conventional format that Store can consume

    ### <a name='request_flow'></a>[Request flow](#request_flow)
    0. User opens a page with data about/from `thing`.
    1. App starts up (and depending on URL one or more Routes get activated) - and it asks
    Store "yo, gimme `thing`!"
    2. Store gives back an PromiseProxy, saying "np, here's your `thing`!".
     *App can now do stuff with it - like insert into templates and such.
    However, it's not the `thing` yet, if you check it's `isLoaded` property - you'll get
    `false` and `status` property is `loading`. Any `thing`-specific properties will be
    `undefined`, as the PromiseProxy proxies to an empty object until the promise is fulfilled.*
    3. Next, Store looks for type specific adapter in `app/adapters` - if none found, uses application-adapter and tells it: "fetch me `thing`" - to which adapter gives back a Promise.
    4. Adapter produces requested data (from a fixture, or by making a request to server -
    depending on what type of adapter it is) - and looks for type-specific serialzier, if none
    found - application serializer, if not - default serializer.
    In serializer payload gets normalized into a `thing` that was initially requested (check out [docs](http://emberjs.com/api/data/classes/DS.RESTSerializer.html#method_normalize)).
    5. Now the Promise that adapter gave Store is fulfilled - and so PromiseProxy that App has starts proxying to the actual `THING`.
    8. Profit.

    ### What it looks like in the code:
    #### Asking Store for `thing`:

    <img class='left' src='/assets/trollicons/pr.png'>

    Given we went to `root_url/user/4`, FooIndexRoute gets activated, and Ember will look in
    `/app/routes/user/index.js` for it's definition. If it isn't defined, here's how App
    asks Store by default:

    ``` javascript
    // /app/routes/user/index.js
    export default Ember.Route.extend({
      // this is default model behaviour - that's what Ember assumes when model definition is omitted
      model: function (params) {
        return this.store.find('user', params.user_id)
      }
    ```

    #### Using a defined adapter:
    For example, we want to load "Jedis" from server, but "Stormtroopers" from a fixture defined
    in model itself. You would define Jedis model in `app/models/jedi.js`:

    ``` javascript
    // app/models/jedi.js
    export default DS.Model.extend({
      weapon: DS.attr()
    });
    ```

    And Stormtroopers would have fixtures embedded:

    ``` javascript
    // app/models/strorm-trooper.js
    var StormTrooper = DS.Model.extend({
      weapon: DS.attr()
    });

    StormTrooper.reopenClass({
      FIXTURES: [{
        id: 1,
        weapon: "Blaster rifle",
      }, {
        id: 2,
        name: "Samurai sword",
      }, {
        id: 3,
        name: "Baton",
      }]
    });

    export default StormTrooper;
    ```

    If in `app/adapters/` we only have one adapter - `application.js` defined like this -

    ``` javascript
    // /app/adapters/application.js
    export default DS.ActiveModelAdapter.extend({
      host: 'trooper-json-api-host.com/',
      namespace: 'api'
    });
    ```

    Our app will try to get both kinds of warriors from the api. If we add a new file to
    `app/adapters` and call it `storm-trooper.js` - Ember will try to use that instead:

    ``` javascript
    // /app/adapters/storm-trooper.js
    export default DS.FixtureAdapter;
    ```

    When Store looks for Stormtrooper specific adapter it will learn to use FixtureAdapter and
    use the fixtures defined in model itself.

    <img class='left' src='/assets/trollicons/pr.png'>

    #### Rendering a template by default:

    If `renderTemplate` definition in the route file is omitted - Ember uses default behavior like this:

    ``` javascript
    // /app/routes/user/index.js
      ...
      // default renderTemplate behaviour - that's what Ember assumes if it's omitted
      // the path given is relative to app/templates/
      renderTemplate: function () {
        this.render('user/index')
      }
    ```

    ### <a name='debugging'></a>[Debugging](#debugging)

    <img src='/assets/trollicons/awman.png'>

    #### Dev helpers
    You can look at parts of Ember app in JS console by looking inside `window.App.__container__`,
    e.g. Store is at `window.App.__container__.lookup('store:main')`.
    To make it easier - `container`, `store`, `router` and `session` are already assigned to
    respective variables in dev environment. They are defined in [app/helpers/dev.js](https://github.com/1bog/frontlights/blob/79d57e6dce041e3c0cf627995499d7c137c73c81/app/helpers/dev.js) -
    and you can see how they are installed for dev environment in [config/environments/development.js](https://github.com/1bog/frontlights/blob/79d57e6dce041e3c0cf627995499d7c137c73c81/config/environments/development.js)

    If you want to have them in production - doing the same thing as in above file accomplishes that:
    running `window.ENV.install_dev_hooks = true` in dev tools JS console will do the trick.

    #### All registered modules
    i.e. everything that was exported properly and Ember has picked up - can be seen with `Em.keys(require.entries)`.
    You can also grep them with `.grep(/filter/)` (grep was added in `helpers/dev.js` linked above).

    <img class='right' src='/assets/trollicons/hardcore.png'>

    #### <a name='emb_ext'></a>[Chrome Dev tools Ember extension](#emb_ext)
    [Go get it now](https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi?hl=en) if you don't have it yet.

    *In every tab in Chrome Dev Tools you can bring up the JS console with `Esc` (or if you like mice,
    with the '>E' looking button - highlighted). In dev mode, ember does some extensive logging (enabled in `app/app.js`), so having the JS console visible is very handy. [Moar CDT tips](https://developers.google.com/chrome-developer-tools/docs/shortcuts).*

    Most useful tab is "Routes". It shows all routes, and active ones are bold
    (<span class='green'>green arrows</span> in screenshot).

    Somewhat unobtrusive and unexplained *"<span class='bold blue'>></span>$E"* button
    assignes the respective element to a `$E` variable in the console for you to inspect.

    Good tab to not forget about is 'Promises' - if something "just doesn't work" and it's not
    evident why - there may be an unfulfilled promise to blame, and that tab will shed light on it.

    <img src='/assets/ember-inspector.png'>
