= form_for @quote, url: group_quotes_path do |f|
  = f.text_field :text, class: 'large-4 columns', placeholder: 'e.g. Your mother is watching!'
  %br
  = f.submit 'Add', class: 'button radius success'
